.add-option{
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.add-option-error{
    color: $off-white;
    font-style: italic;
    margin: $m-size 0 0 0;
    padding: 0% $m-size;
}

// BEM naming convention
.add-option__input{
    background: $dark-blue;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, $amount: 10%);
    color: $off-white;
    // option text input set to 1 to take up all of the available space in the component
    flex-grow: 1;
    margin: 0 0 $s-size 0; 
    margin-right: $s-size;
    padding: $s-size;
}

// larger sized screens
@media (min-width: 45rem){
    .add-option{
        flex-direction: row;
    }

    .add-option__input{
        margin: 0 $s-size 0 0; 
    }
}
