// target divs that are direct decendants of the ReactModalPortal class
.ReactModalPortal > div{
    opacity: 0;

}

// target .ReactModal__Overlay class within the ReactModalPortal class
.ReactModalPortal .ReactModal__Overlay{
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

// used to make the modal fade in 
.ReactModalPortal .ReactModal__Overlay--after-open{
    opacity: 1;
}

// used to make the modal fade out
.ReactModalPortal .ReactModal__Overlay--before-close{
    opacity: 0;
}

.modal{
    background: $light-blue;
    color: white;
    max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;
}

.modal__title{
    margin: 0 0 $m-size 0;

}

.modal__body{
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 $l-size 0;
    // ensures that when really long words are types they get broken into multiple lines and stay 
    // within the css divs rather than going outside it
    word-break: break-all;
}